table {
	font-family: arial, sans-serif;
	color: white;
	border-collapse: collapse;
	width: 100%;
}

table td:hover{
	background-color:#8396a3;
	color: white;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #1b4b80;
	color: white;
}

tr:nth-child(even) {
	background-color: white;
	color: black;
}

tr:nth-child(odd) {
	background-color: #cfebff;
	color: black;
}

td a {
	display:block;
	width:100%;
}
